<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue Applications</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" class="container">
        <h1>
            やることリスト
            <span class="info">{{ remaining.length}} / {{todos.length}}</span>
            <button @click="butchDelete">一括削除</button>
        </h1>

        <ul v-if="todos.length">
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone}">{{ todo.title }}</span>
                <span @click="deleteItem(index)" class="deleteIcon">[✕]</span>
            </li>
        </ul>
        <ul v-else>
            <li>リストが追加されていません。</li>
        </ul>
        <form @submit.prevent="addItem">
            <input type="text" v-model="newItem">
            <input type="submit" value="追加">
        </form>
    </div>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>